<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMNSP8SmUROqCbTPalM7q6pr_dmRXb2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>562891858605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listify</string>
	<key>PROJECT_ID</key>
	<string>todoz-d4cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>todoz-d4cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562891858605:ios:135c3c0e7bb7c15919dc24</string>
</dict>
</plist>